


<h1>Thank You For Your Order!</h1>

<h2>Your Product Id Is: <%= @order.product_id %></h2>
<h2>Your Order Id Is: <%= @order.id %></h2>
<h2>The Quantity Of Your Order Is: <%= @order.quantity  %></h2>
<h2>The Name of the Product You Purchased is: <%= @order.product.name %></h2>
<h2>Your Subtotal Is: <%= @order.subtotal %></h2>
<h2>Your Tax Is: <%= @order.tax %></h2>
<h2>Your Total Is: <%= @order.total %></h2>





