



 <h1>Order Confirmation</h1>

  <div class="well" >
      <h2>Order #: 57600<%= @order.id %></h2>
      <% @order.carted_products.each do |carted_product| %>
      <h3> <%= carted_product.product.name %> - <%= number_to_currency(carted_product.product.price) %> X <%= carted_product.quantity %></h3>

  <% end %>
  <h3>Subtotal: <%= number_to_currency(@order.subtotal) %></h3>
  <h3>Tax: <%= number_to_currency(@order.tax) %></h3>
  <h3>Total: <%= number_to_currency(@order.total) %></h3>
  


</div>












