<h1>Vivienne Gold Photography</h1>



  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4">
        <div class="thumbnail well">

        <h1><a href="/products/<%= product.id %>"> <%= product.name %></a></h1>
        <h4><%= product.description %></h4>
        <h3><%= product.price %></h3>
        <img src="<%= product.first_image_url %>">
      </div>
    </div>
  <% end %>
</div>